<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="org.bytetech.Alien" scope="prototype" autowire="byName">
        <!--        <property name="age" value="14"></property>-->
        <!--        <property name="Laptop" ref="laptop"></property>-->
        <!--        <constructor-arg value="14"></constructor-arg>-->
        <constructor-arg name="com" ref="laptop"></constructor-arg>
    </bean>

    <bean id="laptop" class="org.bytetech.Laptop"></bean>
    <bean id="com" class="org.bytetech.Desktop"></bean>

</beans>